body {
    background-color: #f0f0f0;
    margin-top: 20px;
}


.content {
   /* margin-left: 25%;*/
    padding-left: 280px;
    padding-right: 20px;
}
.compose-btn{
    margin-bottom: 20px;
    
} 
.reply-btn {
margin-top: 20px;
 } 
 .search-bar { 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
} 
.folders ul {
    list-style: none;
    padding:0;

} 
.folders li {
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #8cc1df;
    transition: background-color 0.3s ease;
}
.folders li:hover{
    background-color: #dcdcdc;
}
.messages, 
.selected-message, 
.recent-activity { 
    padding: 10px 15px; 
    background-color: #fff;
     border-radius: 5px; 
     box-shadow: 0 0 10px rgba(0,0,0.1);
     margin-bottom: 10px;
} 
.selected-message { 
    margin-top: 20px; 
    animation: slideIn 0.5s ease-in-out;
} 
#message-content { 
    padding: 15px; 
    border: 1px solid #ced4da;
    border-radius: 10px; 
    margin-top: 20px; 
    max-width: 100%;
    overflow-wrap:break-word;
}
.message {
    color: #333;
}
.message:hover{
    background-color: #e6e6e6;
}
.active {
    background-color: #007bff;
    color: #fff;
}
.compose-btn button,
.reply-btn button {
    width:100%;
}
.reply-btn {
    margin-top: 20px;
}
.message-actions button {
    margin-left: 20px;
}
.recent-activity {
    display: flex;
    flex-direction: column;
}
.recent-activity .list-group {
    flex-grow: 1;
    overflow-y: auto;
}
   /* @media (max-width: 991px) and (min-width: 100px) { 
        .folders, 
        .messages, 
        .selected-message, 
        .recent-activity {
             margin-top: 20px; 
            
            } 
        
        @media (max-width: 991px){ 
            .compose-btn,
             .reply-btn {
             margin-top: 10px; 
            
            } 
            .search-bar {
                 margin-top: 10px; 
            } 
            .folders, 
            .messages, 
            .selected-message,
             .recent-activity { 
                margin-top: 10px; 
                padding: 10px; } 
            }
        }
        @keyframes slideIn {
            from {
                transform: translate(-20px);
                opacity: 0;
            }
            to {
                transform: translate(0);
                opacity: -1;
            }
        }